html {
    scroll-behavior: smooth;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    margin-top: 70px;
}
/* Navbar Hamburguesa */
.navbar-toggler {
    border: none;
}

.navbar-toggler:focus, .navbar-toggler:active {
    border: none;
    outline: none; 
    box-shadow: none;  
}

/* Navbar*/
.navbar {
    background-color: #F14545 !important; 
    padding: 10px 10px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-sizing: border-box;
}

.navbar .navbar-brand img {
    margin-right: 10px;
}

.navbar-nav .nav-link {
    font-size: 16px;
    font-weight: 600;
    padding: 10px 60px;
    margin: 0px 10px;
    color: #ffffff;
    transition: color 0.3s ease, text-decoration 0.3s ease;
}

.navbar-nav .nav-link:hover {
    color: #4c0000;
    /*text-decoration: underline;*/
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.2);
}

.navbar-nav .nav-item.active .nav-link {
    color: #4c0000;
}

/*Carrito de compras*/
.material-icons {
    font-size: 24px;
    color: #ffffff;
    transition: transform 0.3s ease, color 0.3s ease;
}

/*Hover carrito*/
.navbar .nav-item .nav-link:hover .material-icons {
    color: #4c0000; 
    transform: scale(1.2);
}

.navbar .nav-item .nav-link {
    position: relative;
}

/*Estilo para el badge*/
.navbar .nav-item .nav-link .badge {
    position: absolute;  
    top: -1px;  
    right: -4px; 
    padding: 4px 6px; 
    background-color: #00343D;
    color: #FA7474;  
    border-radius: 50%;  
    font-size: 11px;  
    font-weight: bold;  
}

/*Responsive Navbar*/
@media (max-width: 991px) {
    .navbar-nav .nav-link {
        font-size: 14px;
    }
}

@media (max-width: 575px) {
    .navbar-nav .nav-link {
        font-size: 12px;
    }
}


@media (max-width: 991px) {
    .navbar-nav .nav-item .nav-link {
        padding: 10px 20px; 
    }
}
@media (max-width: 991px) {
    .navbar .nav-item .nav-link {
        padding: 10px 30px; 
    }

    .navbar .nav-item .nav-link .badge {
        top: -4px;  
        right: -4px; 
    }
}

/* Fin navBar */

/* Carrito de compras pop up */
/* Pop-up Carrito de compras */

.popup-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Fondo oscuro */
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    max-width: 80%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
}

.popup-content h4 {
    margin-bottom: 20px;
    font-size: 1.5rem;
}

.popup-content .car-items {
    margin-bottom: 20px;
}

.car-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    align-items: center;
}

.car-item img {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    object-fit: cover;
    margin-right: 10px;
}

.car-item p {
    margin: 0;
    flex-grow: 1;
}

.car-item span {
    font-weight: bold;
}

.total {
    text-align: center;
    margin-bottom: 20px;
}

.popup-content .btn {
    width: 100%;
    background-color: #F14545; 
    color: #ffffff;
    border: none;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.popup-content .btn:hover {
    background-color: #00343D;
    color: #FA7474;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 24px;
    color: #333;
    cursor: pointer;
}

.close-btn:hover {
    color: #F14545;
}

/* Fin carrito de compras */

/* Nata */
/*  colores */
:root {
    --primary-color: #500f3b;
    --secondary-color: #ff2953;
    --text-color: #e0dede;
    --thirth-color: #0f1e30;
    --fourth-color: #dee0e5;
}

.separacion{
    height: 100px;
    width: 100%;
    background-color:  var(--thirth-color);
}

.banner-products{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:  var(--thirth-color);
    padding: 2rem 1rem 0;
}

/* animación logo */
.graphic-circles{
    display: flex;
    align-items: center;
    width: 100px;
    height: 100px;
    margin-bottom: 50px;
    padding-bottom: 60px;
}
.graphic-circles:hover{
    opacity: 85%;
}

.absolute {
    position: absolute;
}
.graphic-logo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.graphic-energy{
    width: 150px;
    height: 150px;
    animation: turn1 20s linear infinite;
}

.graphic-circle-1{
    width: 170px;
    height: 170px;
    animation: turn2 26s linear infinite;
}

.graphic-circle-2{
    width: 160px;
    height: 160px;
    animation: turn1 30s linear infinite;
}
/* termina logo animado*/



/* contenido banner */
.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    color:  var(--text-color);
    padding-bottom: 50px;
}

.title-{
    font-family:'Merriweather', sans-serif;
    font-size:  3rem;
    font-weight:600;
    text-align: center;
}

.description {
    font-size: 1.4rem;
    font-family: 'popins' sans-serif;
    margin-bottom: 30px;
    font-style: italic;
    text-align: center;
    /* margin-top: -20px; */
    font-weight: 500;
    }


/*  Estilos para categorias*/

.categorias-container {
    display: flex;
    justify-content: center; 
    align-items: center;
    padding-top: 20px;
    gap: 20px;
    flex-wrap: wrap;
    background-color: var(--fourth-color);
    width: 100%;
}

.item-circle {
    width: 150px;
    height: 150px;
    border-radius: 50%; 
    object-fit: cover; 
    border: 2px solid #928585;
    box-shadow: 8px 12px 12px rgba(188, 68, 68, 0.2); 
    cursor: pointer;
    margin-right: 10px;
} 
.item-circle:hover{
    transform: scale(1.1);
    opacity: 0.8;
}

.categoria {
    font-size: 1.6rem;
    margin-top: 0.8rem;
    padding-bottom: 0.5rem;
    text-align: center;
    color: var(--secondary-color);
    font-family: 'Merriweather' sans-serif;
    font-weight: 800;
    
} 


/* estilo para cards de productos*/

.card-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
    gap: 1.5rem; 
    justify-content: center;
    padding: 2% 3% 2% 3%; 
    width: 100%;
    background-color: var(--fourth-color);
    overflow-x: hidden;
    
}

.card-product{
    margin: 10px;
    position: relative;
    overflow: hidden;
    border: 1px solid rgb(41, 39, 39); 
    border-radius: 8px;
    background-color: var(--text-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 

}
.card-product:hover{
   
    margin-top: -1px;
}

.card-product img {
    width: 100%;
    height: auto;
    /* height: 200px; */
    border-radius: 8px;
    object-fit: contain;  
        
}
 
.btn-heart {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #e3e0e066;
    border: none;
    border-radius: 50%;
    cursor: pointer; 
}
.btn-heart:hover {
    margin-top: -3px;

}

.card-body {
font-family: 'popins' sans-serif;
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding-left: 20px;
gap: 20px;
}


.titulo-prod {
    padding-top: 10px;
    line-height: 1.3;
    font-size: 1.2rem;
}
.card-body p {
    overflow: hidden;
    font-size: 18px;
    text-align: left;
}

.precio {
    font-size: 20px;
    align-items: center;
    margin-top: -20px;
}

.btn-product {
    background-color: var(--primary-color);
    color: var(--text-color);
    font-weight: 500;
    border-radius: 5px;
    border-color: none;
    font-size: small;
    height: 50px;
    margin-bottom: 10px;
    margin-left: 5%;
    width: 50%;
}
.btn-product:hover{
    background-color: var(--thirth-color);
    opacity: 80%;
}
/* Terminan estilos de card


/* Querys */

@media screen and (min-width:1024px){
    .title-{font-size: 2.5rem;}
    
}

@keyframes turn1{
    to{transform: rotate(-1turn);}
}

@keyframes turn2{
    to{transform: rotate(1turn);}
} 

@media screen and (max-width: 1024px) {
    
    .graphic-circles img {
        width: 120px;
        height: 120px;
    };
}


/* Estilos para carousel */

.cont-carousel{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: -5%;
}

.carousel {
    position: relative;
    width: 80%;
    max-width: 600px;
    overflow: hidden;
    border: 2px solid #ddd;
    border-radius: 10px;
    background: #fff;
}

c
.col-izq, .col-der {
    padding: 20px;
    width: 50%;
}
/* Contenedor de las imágenes */
.carousel-container {
    display: flex;
    overflow: hidden;
    width: 100%;
}

/* Slide de imágenes */
.carousel-slide {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

/* Imágenes */
.carousel-slide img {
    width: 100%;
    height: auto;
    border: none;
}

/* Botones */
.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    z-index: 10;
}

#prev-btn {
    left: 10px;
}

#next-btn {
    right: 10px;
}

button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Fin Nata */


/* Jisela nnuestro equipo */
:root {
    --darrk: #500f3b;
    --clarDark: #95204e;
    --lila: #7d90d9;
    --rosaPastel: #e2d2ea;
    --claro: #f3f3f3;
}
 
.nuestro-equipo{
    background-image: url(../images/trainer-bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    flex-direction: column;
}
 
.container-nuestro-equipo {
    color: var(--claro);
    padding-top: 40px;
    padding-bottom: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
}
 
 
.titulo-equipo h2::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 55px;
    height: 5px;
    background-color: #ff2953;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
 
.titulo-equipo h2 {
    font-weight: bold;
    position: relative;
    padding-top: 90px;
    text-transform: uppercase;
    font-family: 'Merriweather', serif;
    color: var(--claro);
 
}
 
.img-box {
    width: 320px;
    height: 320px;
    background-color: var(--claro);
    background-attachment: fixed;
    border-radius: 50%;
}
 
.img-tamano {
    width: 320px;
    height: 320px;
    border-radius: 50%;
}
 
 
.name {
    font-family: 'Poppins', sans-serif;
   
}
 
.name h5 {
    font-size: 1.35rem;
    margin-bottom: 10px;
}
 
 
 
.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 360px;
    height: 420px;
}
 
.social_box {
    margin-top: 20px;
    background-color: var(--claro);
    display: flex;
    justify-content: space-around;
    width: 200px;
    padding: 10px;
    grid: 3px;
    border-radius: 50px;
    margin-top: -25px;
}
 
/* responsive */
 
@media (max-width: 1629px) {
    .img-box {
        width: 320px;
        height: 320px;
    }
   
    .img-tamano {
        width: 320px;
        height: 320px;
    }
 
    .container {
        width: 100%;
    }
}
 
@media (max-width: 1399px) {
    .img-box {
        width: 260px;
        height: 260px;
    }
    .img-tamano {
        width: 260px;
        height: 260px;
    }
   
}
 
@media (max-width: 1102px) {
 
    .container-nuestro-equipo {
        flex-wrap: wrap;
    }
}
/*animacion*/
.description {

    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px;
    border-radius: 5px;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    text-align: center;
    /* pointer-events: none; */
}
.box {
    position: relative; /* Necesario para posicionar .description dentro */
    overflow: hidden; /* Para evitar que la descripción salga del cuadro */
}
/* Fin Jisela Nuestro equipo */

/* seccion de contactanos, imagen y formulario  */
#contact-section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    background-color: #500f3b;
}

.contact-form h2 {
    font-family: 'Merriweather', serif;
    color: white;
    font-weight: bolder;
}
.contact-form h3 {
    font-family: 'Poppins', sans-serif;
    color: white;
    margin-top: 30px;
    font-size: 20px;
    font-weight: bold;
}
.contact-form p {
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 15px;
}
.contact-form label,
.contact-form input,
.contact-form textarea,
.contact-form button {
    font-family: 'Poppins', sans-serif;
    color: white;
}

.contact-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    width: 100%;
    padding: 0 20px;
}

.contact-image {
    flex: 1;
    min-width: 250px;
    margin-right: 90px;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 40px;
}

.contact-image img {
    width: 100%;
    height: auto;
    border-radius: 15px;
}

.contact-form {
    flex: 2;
    min-width: 300px;
}

.contact-form h2 {
    margin-bottom: 20px;
}

.contact-form label,
.contact-form input,
.contact-form textarea {
    width: 100%;
    margin-bottom: 10px;    
}

.contact-form textarea {
    background-color: #e2d2ea;
}

.contact-form input,
.contact-form textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.contact-form button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #95204e;
    color: white;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #7d90d9;
}

@media (max-width: 768px) {
    .contact-container {
        flex-direction: column;
        align-items: center;
    }

    .contact-image {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .contact-form {
        width: 100%;
    }
}

/* Info seccion CSS, media queries */
#info_section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
    background-color: #95204e;
    color: white;
    font-family: 'Poppins', sans-serif;
}

.info-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.info-container a {
    color: inherit;
    text-decoration: none;
}
.info-container a:hover {
    color: #7d90d9;
}
.info-container p {
    font-size: 18px;
    margin: 30px;
    display: flex;
    align-items: center;
}

.info-container i {
    font-size: 30px;
    margin-right: 10px;
}

/* Media Query para pantallas pequeñas */
@media (max-width: 768px) {
    .info-container {
        flex-direction: column;
        align-items: center;
    }

    .info-container p {
        margin-right: 0;
        margin-bottom: 10px;
    }
}

/* Footer, estilos */
footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
    justify-content: center;
    padding: 40px;
    background-color: #500f3b;
    color: white;
    font-family: 'Poppins', sans-serif;
}
.footer-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.footer-information-section {
    list-style: none;
    padding: 0;
    margin-top: 20px;  
    margin-bottom: 20px;  
}
.title-footer {
    font-family: 'Merriweather', serif;
    font-size: 25px;
    font-weight: bolder;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}
.footer-information-section li a {
    font-family: 'Poppins', serif;
    font-size: 15px;
    text-align: left;
    text-decoration: none;
    color: white;
}
.footer-information-section li a:hover {
    text-decoration: underline;
    color: #7d90d9;
}
.img-footer {
    text-align: center;
}

.img-footer img {
    max-width: 250px;
}
.bottom-footer {
    width: 100%;
    text-align: center;
}

@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
    }
}