/* seccion de contactanos, imagen y formulario  */
#contact-section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    background-color: #500f3b;
}

.contact-form h2 {
    font-family: 'Merriweather', serif;
    color: white;
    font-weight: bolder;
}

.contact-form label,
.contact-form input,
.contact-form textarea,
.contact-form button {
    font-family: 'Poppins', sans-serif;
    color: white;
}

.contact-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    width: 100%;
    padding: 0 20px;
}

.contact-image {
    flex: 1;
    min-width: 250px;
    margin-right: 90px;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 90px;
}

.contact-image img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.contact-form {
    flex: 2;
    min-width: 300px;
}

.contact-form h2 {
    margin-bottom: 20px;
}

.contact-form label,
.contact-form input,
.contact-form textarea {
    width: 100%;
    margin-bottom: 10px;    
}

.contact-form textarea {
    background-color: #e2d2ea;
}

.contact-form input,
.contact-form textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.contact-form button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #95204e;
    color: white;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #7d90d9;
}

@media (max-width: 768px) {
    .contact-container {
        flex-direction: column;
        align-items: center;
    }

    .contact-image {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .contact-form {
        width: 100%;
    }
}

/* Info seccion CSS, media queries */
#info_section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
    background-color: #95204e;
    color: white;
    font-family: 'Poppins', sans-serif;
}

.info-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.info-container a {
    color: inherit;
    text-decoration: none;
}
.info-container a:hover {
    color: #7d90d9;
}
.info-container p {
    font-size: 18px;
    margin: 30px;
    display: flex;
    align-items: center;
}

.info-container i {
    font-size: 30px;
    margin-right: 10px;
}

/* Media Query para pantallas pequeñas */
@media (max-width: 768px) {
    .info-container {
        flex-direction: column;
        align-items: center;
    }

    .info-container p {
        margin-right: 0;
        margin-bottom: 10px;
    }
}

/* Footer, estilos */
footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
    background-color: #500f3b;
    color: white;
    font-family: 'Poppins', sans-serif;
}
.footer-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.footer-information-section {
    list-style: none;
    padding: 0;
    margin-top: 20px;    
}
.title-footer {
    font-family: 'Merriweather', serif;
    font-size: 25px;
    font-weight: bolder;
    margin-top: 10px
    margin-bottom: 10px;
    text-align: center;
}
.footer-information-section li {
    font-family: 'Poppins', serif;
    font-size: 15px;
    text-align: left;
}
.footer-information-section li:hover {
    text-decoration: underline;
    color: #7d90d9;
}

@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
    }
}