/* Navbar Hamburguesa */
.navbar-toggler {
    border: none;
}

.navbar-toggler:focus, .navbar-toggler:active {
    border: none;
    outline: none; 
    box-shadow: none;  
}

/* Navbar*/
.navbar {
    background-color: #F14545 !important; 
    padding: 10px 20px;
}

.navbar .navbar-brand img {
    margin-right: 10px;
}

.navbar-nav .nav-link {
    font-size: 16px;
    font-weight: 600;
    padding: 10px 60px;
    margin: 0px 10px;
    color: #ffffff;
    transition: color 0.3s ease, text-decoration 0.3s ease;
}

.navbar-nav .nav-link:hover {
    color: #4c0000;
    /*text-decoration: underline;*/
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.2);
}

.navbar-nav .nav-item.active .nav-link {
    color: #4c0000;
}

/*Carrito de compras*/
.material-icons {
    font-size: 24px;
    color: #ffffff;
    transition: transform 0.3s ease, color 0.3s ease;
}

/*Hover carrito*/
.navbar .nav-item .nav-link:hover .material-icons {
    color: #4c0000; 
    transform: scale(1.2);
}

.navbar .nav-item .nav-link {
    position: relative;
}

/*Estilo para el badge*/
.navbar .nav-item .nav-link .badge {
    position: absolute;  
    top: -1px;  
    right: -4px; 
    padding: 4px 6px; 
    background-color: #00343D;
    color: #FA7474;  
    border-radius: 50%;  
    font-size: 11px;  
    font-weight: bold;  
}

/*Responsive Navbar*/
@media (max-width: 991px) {
    .navbar-nav .nav-link {
        font-size: 14px;
    }
}

@media (max-width: 575px) {
    .navbar-nav .nav-link {
        font-size: 12px;
    }
}


@media (max-width: 991px) {
    .navbar-nav .nav-item .nav-link {
        padding: 10px 20px; 
    }
}
@media (max-width: 991px) {
    .navbar .nav-item .nav-link {
        padding: 10px 30px; 
    }

    .navbar .nav-item .nav-link .badge {
        top: -4px;  
        right: -4px; 
    }
}

/* Pop-up Carrito de compras */

.popup-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Fondo oscuro */
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    max-width: 80%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
}

.popup-content h4 {
    margin-bottom: 20px;
    font-size: 1.5rem;
}

.popup-content .car-items {
    margin-bottom: 20px;
}

.car-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    align-items: center;
}

.car-item img {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    object-fit: cover;
    margin-right: 10px;
}

.car-item p {
    margin: 0;
    flex-grow: 1;
}

.car-item span {
    font-weight: bold;
}

.total {
    text-align: center;
    margin-bottom: 20px;
}

.popup-content .btn {
    width: 100%;
    background-color: #F14545; 
    color: #ffffff;
    border: none;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.popup-content .btn:hover {
    background-color: #00343D;
    color: #FA7474;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 24px;
    color: #333;
    cursor: pointer;
}

.close-btn:hover {
    color: #F14545;
}
